{% extends "base.html" %}
{% block content %}
    {% for message in messages %}
        <h4>{{ message }}</h4>
    {% endfor %}
    <div class="content">
        <form method="post" class="edit_form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <table class="edit_table">
                <h2>Edit reader:</h2>
                <tr>
                    <td>{{ form.name.label }}:</td>
                    <td>{{ form.name(size=25) }}</td>
                    {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                                "{{ form.name.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.surname.label }}:</td>
                    <td>{{ form.surname(size=25) }}</td>
                    {% if form.surname.errors %}
                        <ul class="errors">
                            {% for error in form.surname.errors %}
                                "{{ form.surname.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.email.label }}:</td>
                    <td>{{ form.email(size=25) }}</td>
                    {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                "{{ form.email.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.password.label }}:</td>
                    <td>{{ form.password(size=25) }}</td>
                    {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                                "{{ form.password.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.confirm_password.label }}:</td>
                    <td>{{ form.confirm_password(size=25) }}</td>
                    {% if form.confirm_password.errors %}
                        <ul class="errors">
                            {% for error in form.confirm_password.errors %}
                                "{{ form.confirm_password.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>

                {% if user and user.is_superuser %}
                <tr>
                    <td>{{ form.is_active.label }}:</td>
                    <td>{{ form.is_active }}</td>
                    {% if form.is_active.errors %}
                        <ul class="errors">
                            {% for error in form.is_active.errors %}
                                "{{ form.is_active.label }}" {{ error }}{% endfor %}
                        </ul>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.is_superuser.label }}:</td>
                    <td>{{ form.is_superuser }}</td>
                    {% if form.is_superuser.errors %}
                        <ul class="errors">
                            {% for error in form.is_superuser.errors %}
                                "{{ form.is_superuser.label }}" {{ error }}{% endfor %}
                        </ul>
                        {% endif %}
                {% endif %}
                </tr>
            </table>
            <div class="button">
                <input type="submit" formnovalidate name="cancel" value="Cancel">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

{% endblock %}
